//@import '../node_modules/@material/react-button/dist/button.css';
@import '~@material/button/dist/mdc.button.css';
//@import '~@material/drawer/dist/mdc.drawer.css';

.app_title.mdc-drawer__title {
  display: flex;
  align-items: center;
  .rmwc-icon {
    color: #0d75d6;
  }
}
.mdc-list-divider {
  list-style-type: none;
}
.drawer-links {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  &:active,
  &:focus,
  &:visited
  {
    color: inherit;
    outline: none;
  }
}
.App {
  //text-align: center;
  //display: flex;
}
.demo-content {
  display: flex;
  flex: 1 1;
  position: relative;
}
.mdc-drawer {
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
