//@import '../node_modules/@material/react-button/dist/button.css';
//@import '~@material/button/dist/mdc.button.css';
//@import '~@material/drawer/dist/mdc.drawer.css';

.app_title.mdc-drawer__title {
  display: flex;
  align-items: center;
  .rmwc-icon {
    color: #0d75d6;
  }
}
.mdc-drawer .mdc-drawer__header {
  padding: 0;
}
.mdc-list-divider {
  list-style-type: none;
}
.drawer-links {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  &:active,
  &:focus,
  &:visited
  {
    color: inherit;
    outline: none;
  }
}
.App {
  //text-align: center;
  //display: flex;
}
.demo-content {
  display: flex;
  flex: 1 1;
  position: relative;
  box-sizing: border-box;
}
.mdc-drawer {
  min-height: 100vh;
}

// .app-logo {
//   height: 40vmin;
//   pointer-events: none;
// }
.app-logo {
  text-decoration: none;
  &:active,
  &:focus,
  &:visited
  {
    color: inherit;
    outline: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo__list-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  padding: 20px;
  .todo__list-block {
    flex: 2;
    
  }
}

.page {
  .mdc-top-app-bar {
    padding-left: 25px;
  }
}

.page-content {
  display: flex;
}